<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/styles.css">
</head>

<body>

<div class="top-navbar">
    <div class="logo"></div>
</div>

<div class="container">

    <!-- Score tab -->
    <div class="row">
        <div class="col-md-5 col-sm-5 score_own">70</div>
        <div class="col-md-2 col-sm-2 split_score">-</div>
        <div class="col-md-5 col-sm-5 score_opponent">68</div>
    </div>

    <!-- Player tab -->
    <div class="player_on_court">
        <div class="player_1"><img src="" alt="1"></div>
        <div class="player_2"><img src="" alt="1"></div>
        <div class="player_3"><img src="" alt="1"></div>
        <div class="player_4"><img src="" alt="1"></div>
        <div class="player_5"><img src="" alt="1"></div>
    </div>

    <!-- Scoring tab -->
    <div class="row">
        <div class="tab_title">Scoring</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">LF <i class="fa fa-check"></i></div>
        <div class="col-md-4 col-sm-4">2pt <i class="fa fa-check"></i></div>
        <div class="col-md-4 col-sm-4">3pt <i class="fa fa-check"></i></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">LF <i class="fa fa-forbidden"></i></div>
        <div class="col-md-4 col-sm-4">2pt <i class="fa fa-forbidden"></i></div>
        <div class="col-md-4 col-sm-4">3pt <i class="fa fa-forbidden"></i></div>
    </div>


    <!-- Rebond & passe tab -->
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="tab_title">Rebond</div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="tab_title">Passe</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">Rebond Défensif</div>
        <div class="col-md-4 col-sm-4">Rebond Offensif</div>
        <div class="col-md-4 col-sm-4">Passe décisive</div>
    </div>

    <!-- Defense tab -->
    <div class="row">
        <div class="tab_title">Actions défensives</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">Contre</div>
        <div class="col-md-6 col-sm-6">Interception</div>
    </div>

    <!-- Fautes tab -->
    <div class="row">
        <div class="tab_title">Fautes & turnovers</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">Faute <i class="fa fa-arrow-right"></i> LF</div>
        <div class="col-md-4 col-sm-4">Faute sans LF</div>
        <div class="col-md-4 col-sm-4">Turnover</div>
    </div>
</div>


<script src="../dist/js/main.js"></script>
</body>

</html>
