<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="../dist/css/styles.css">
</head>

<body>

<div class="top-navbar">
    <div class="logo"></div>
</div>

<div class="content">

    <!-- Score tab -->
    <div class="row scoring-blackboard align-center">
        <div class="col-md-5 col-sm-5">
            <div class="score">70</div>
        </div>
        <div class="col-md-2 col-sm-2 separator_score">
            -
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="score">68</div>
        </div>
    </div>

    <!-- Player tab -->
    <div class="player_on_court">
        <div class="player_1"><img src="" alt="1"></div>
        <div class="player_2"><img src="" alt="1"></div>
        <div class="player_3"><img src="" alt="1"></div>
        <div class="player_4"><img src="" alt="1"></div>
        <div class="player_5"><img src="" alt="1"></div>
    </div>

    <!-- Scoring tab -->
    <div class="row">
        <div class="tab_title">Scoring</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 button-ajax">LF <i class="fa fa-check-circle-o"></i></div>
        <div class="col-md-4 col-sm-4 button-ajax">2pt <i class="fa fa-check-circle-o"></i></div>
        <div class="col-md-4 col-sm-4 button-ajax">3pt <i class="fa fa-check-circle-o"></i></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 button-ajax">LF <i class="fa fa-ban" aria-hidden="true"></i></div>
        <div class="col-md-4 col-sm-4 button-ajax">2pt <i class="fa fa-ban" aria-hidden="true"></i></div>
        <div class="col-md-4 col-sm-4 button-ajax">3pt <i class="fa fa-ban" aria-hidden="true"></i></div>
    </div>


    <!-- Rebond & passe tab -->
    <div class="row">
        <div class="col-md-8 col-sm-8 no-padding">
            <div class="tab_title">Rebond</div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="tab_title">Passe</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 button-ajax">Rebond Défensif</div>
        <div class="col-md-4 col-sm-4 button-ajax">Rebond Offensif</div>
        <div class="col-md-4 col-sm-4 button-ajax">Passe décisive</div>
    </div>

    <!-- Defense tab -->
    <div class="row">
        <div class="tab_title">Actions défensives</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">Contre</div>
        <div class="col-md-6 col-sm-6">Interception</div>
    </div>

    <!-- Fautes tab -->
    <div class="row">
        <div class="tab_title">Fautes & turnovers</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 button-ajax">Faute <i class="fa fa-arrow-right"></i> LF</div>
        <div class="col-md-4 col-sm-4 button-ajax">Faute sans LF</div>
        <div class="col-md-4 col-sm-4 button-ajax">Turnover</div>
    </div>
</div>


<script src="../dist/js/main.js"></script>
<script>
    screen.orientation.lock('landscape');
    var show = function () {
        console.log("Orientation type is " + screen.orientation.type);
        console.log("Orientation angle is " + screen.orientation.angle);
    }

    screen.orientation.addEventListener("change", show);
    window.onload = show;
</script>
</body>

</html>
